.outerbox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.outerbox .innerbox {
   width: 100%;     /* DEFINES TABLES WIDTH */
     /*width: 600px;*/       
}
.innerbox {
    display: inline;
    float: left;
    height: 700px;       /* DEFINES TABLES HEIGHT */
    overflow-x: auto;
    overflow-y: auto;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.bluetable td, .bluetable th {
    border: 1px solid #758796;
    padding: 2px;
}
.bluetable {
    font-family: sans-serif;
}
.bluetable tbody tr td {
   /*background-color: #eff3fa;*/
   /*background-color:lightyellow;*/
    color: #262c31;
    font-size: 12px;
}
.bluetable tbody tr > td { height:10px;}
/*.bluetable tbody tr:hover td {
        background: none repeat scroll 0 0 #FFCF8B;
        color: #000000;
    }*/
.bluetable tbody tr.odd td {
    /*background-color: #d6e0ef;*/
}
.bluetable thead tr th,
.bluetable thead tr td,
.bluetable tfoot tr th, 
.bluetable tfoot tr td {
    background-color: #98b1c7;
    color: #121517;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 1px #e8ebee;
    text-align:center;
}
.color {
}
.row {
}
