<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="51000" />
    </system.web>
  <connectionStrings>
  <add name="cnnString" connectionString="Data Source=172.25.215.17\SQLEXPRESS;Initial Catalog=MATERIAL_MGM;User ID=sa;Password=pvst123@;Integrated Security=False" providerName="System.Data.SqlClient" />

    <!--<add name="cnnString" connectionString="Data Source=172.25.216.127,1434;Initial Catalog=MATERIAL_MGM;User ID=sa;Password=ict" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://172.25.216.127/material" />
    </system.webServer>
</configuration>
